<%= simple_form_for(@status) do |f| %>
  <% if @status.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@status.errors.count, "error") %> prohibited this status from being saved:</h2>

      <ul>
      <% @status.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row uniform">
    <div class="12u 12u$(xsmall)">
      <%= f.input :name %>
    </div>
    <div class="12u$ 12u$(xsmall)">
      <%= f.input :content %>
    </div>
    <div class="12u$">
      <div class="select-wrapper">
        <%= f.label :playlist, "Select one of your playlists..." %>
        <%= f.select :playlist, options_for_select(@playlists) %>
      </div>
    </div>
    <div class="12u$">
      <div class="select-wrapper">
        <%= label_tag :borrowed_playlist, "...or paste link to playlist you want to share:" %>
        <%= text_field_tag :borrowed_playlist %>
      </div>
    </div>
    <div class="12u$">
      <ul class="actions">
          <li><%= f.button :submit, "Submit your Hunt", class: "special" %></li>
      </ul>
    </div>
  </div>
<% end %>
  