<%= simple_form_for(@status) do |f| %>
  <% if @status.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@status.errors.count, "error") %> prohibited this status from being saved:</h2>

      <ul>
      <% @status.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.label :name, "What's so special about this playlist?" %><br>
 <%= f.input :name %>
 <%= f.label :content, "There must be more about this playlist, right?" %><br>
 <%= f.input :content %>
 <%= f.label :playlist, "Select a Spotify playlist:" %><br>
 <%= f.select :playlist, options_for_select(@playlists) %>
  <div class="form-actions"><br>
    <%= f.button :submit, "Submit your Hunt" %>
  </div>
  
<% end %>
